<md-content layout="column" layout-align="stretch center">
  <md-toolbar class="md-hue-4">
    <div class="md-toolbar-tools">
      <h2 flex>Add a Project</h2>
    </div>
  </md-toolbar>
  <form class="projectForm" layout="row">
    <md-input-container flex>
      <label>Project Name</label>
      <input required ng-model="vm.projectToAdd.name">
    </md-input-container>
    <md-input-container flex class="md-no-underline">
      <md-button type="submit" value="Submit" ng-click="vm.addProject()">Submit</md-button>
    </md-input-container>
  </form>
</md-content>

<!-- uncomment to see view model data -->
<pre>{{vm | json}}</pre>


<!-- CUSTOM TABLE -->

<md-content layout="column" layout-align="stretch" flex="80">
  <md-toolbar class="tableHeader md-hue-4" layout="row">
    <div class="md-toolbar-tools">
      <div flex="90" layout="row" layout-align="space-between center">
        <span flex="80">
          <h4 class="rowTitle md-title sortable" ng-click="vm.orderByField='-name'; vm.reverseSort = !vm.reverseSort">Project Name<md-icon>unfold_more</md-icon></h4>
        </span>
        <span flex="20">
          <h5 class="rowSubtitle md-title sortable" ng-click="vm.orderByField='-duration'; vm.reverseSort = !vm.reverseSort">Time Spent<md-icon>unfold_more</md-icon></h5>
        </span>
      </div>
      <div flex="10" layout="row" layout-align="center center">
        <span class="md-title">Actions</span>
      </div>
    </div>
  </md-toolbar>
</md-content>

<md-content class="scrollable">
    <div class="tableRow" layout="row" ng-repeat="project in vm.projects| orderBy:vm.orderByField:vm.reverseSort">
      <div flex="90" layout="row" layout-align="space-between center">
        <span flex="80">
          <h4 class="rowTitle md-headline">{{project.name}}</h4>
        </span>
        <span flex="20" class="md-body-1">{{project.duration}}</span>
      </div>
      <div flex="10" layout="row" layout-align="center center">
        <md-button class="md-secondary md-icon-button" ng-click="">
          <md-icon>edit_outline</md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" ng-click="vm.deleteProject(project)">
          <md-icon>delete_outline</md-icon>
        </md-button>
      </div>
    </div>
</md-content>