<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="By Project" ng-click="vm.renderProjectChart()">
        <md-content class="md-padding" >
          <div id="projectChartContainer"></div>
        </md-content>
      </md-tab>
      <md-tab label="By Task" ng-click="vm.renderTaskChart()">
        <md-content class="md-padding">
          <div id="taskChartContainer"></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
